@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "TTInterfaces";
	src: url("../../public/fonts/TTInterfaces/TTInterfaces-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TTInterfaces";
	src: url("../../public/fonts/TTInterfaces/TTInterfaces-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "TTInterfaces";
	src: url("../../public/fonts/TTInterfaces/TTInterfaces-Light.ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "TTInterfaces";
	src: url("../../public/fonts/TTInterfaces/TTInterfaces-ExtraLight.ttf");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "TTInterfaces";
	src: url("../../public/fonts/TTInterfaces/TTInterfaces-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "TTInterfaces";
	src: url("../../public/fonts/TTInterfaces/TTInterfaces-Black.ttf");
	font-weight: 900;
	font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0 1vmin;
	background-color: #e1e1e1;
	scroll-behavior: smooth;
	font-family: "TTInterfaces", "UniversalSans", "system-ui", "-apple-system",
		"BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
		"Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	max-width: 1400px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* @layer components {
	.kudoku-card {
		@apply relative flex items-center;
	}
} */
